@{
    ViewBag.Title = "Evaluation";
    Layout = "~/Areas/GuanWang/Views/Shared/_LayoutPageManager.cshtml";
}

<div class="form-inline definewidth m20">
</div>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
        <tr>
            <th>编号id</th>
            <th>名称</th>
            <th width="50%">描述</th>
            <th>url</th>
            <th>图片</th>
            <th>状态</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
    </thead>
    @{List<Model.guanwang_evaluation> list = ViewData["list"] as List<Model.guanwang_evaluation>;}
    @foreach (var item in list)
    {
        <tr>
            <td>@item.evaluationID</td>
            <td>@item.name</td>
            <td>@item.describe</td>
            <td>@item.url</td>
            <td><img src="@item.image" style="width:100px;height:80px;" /></td>
            <td>@(item.isRecommend==true?"推荐":"不推荐")</td>
            <td>@Convert.ToDateTime(item.addTime).ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>
                <a href="/GuanWang/ManagerHome/EvaluationEdit/@item.evaluationID">编辑</a>
                <a href="javascript:;" onclick="btn_recommend(@item.evaluationID)">是否推荐</a>
            </td>
        </tr>	
    }
</table>

@section footer{
    <script type="text/javascript">
        //更新状态
        function btn_recommend(id) {
            $.post("EvaluationStatus", { id: id }, function (serverData) {
                var jsondata = $.parseJSON(serverData);
                if (jsondata.status == 0) {
                    alertMsg(jsondata.msg);
                    window.location.reload();
                } else {
                    alertMsg(jsondata.msg);
                }
            });
        }
    </script>
}
