@{
    ViewBag.Title = "Service";
    Layout = "~/Areas/GuanWang/Views/Shared/_LayoutPageManager.cshtml";
}

<div class="form-inline definewidth m20">
</div>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
        <tr>
            <th>编号id</th>
            <th>标题</th>
            <th width="50%">描述</th>
            <th>图标类</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
    </thead>
    @{List<Model.guanwang_service> list = ViewData["list"] as List<Model.guanwang_service>;}
    @foreach (var item in list)
    {
        <tr>
            <td>@item.serviceID</td>
            <td>@item.title</td>
            <td>@item.describe</td>
            <td>@item.iconClass</td>
            <td>@Convert.ToDateTime(item.addTime).ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>
                <a href="/GuanWang/ManagerHome/ServiceEdit/@item.serviceID">编辑</a>
            </td>
        </tr>	
    }
</table>


