@{
    ViewBag.Title = "Skill";
    Layout = "~/Areas/GuanWang/Views/Shared/_LayoutPageManager.cshtml";
}

<div class="form-inline definewidth m20">
</div>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
        <tr>
            <th>编号id</th>
            <th>名称</th>
            <th>百分比</th>
            <th>颜色类</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
    </thead>
    @{List<Model.guanwang_skill> list = ViewData["list"] as List<Model.guanwang_skill>;}
    @foreach (var item in list)
    {
        <tr>
            <td>@item.skillID</td>
            <td>@item.name</td>
            <td>@item.percent</td>
            <td>@item.colorClass</td>
            <td>@Convert.ToDateTime(item.addTime).ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>
                <a href="/GuanWang/ManagerHome/SkillEdit/@item.skillID">编辑</a>
            </td>
        </tr>	
    }
</table>


